.picture{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.neev{
    background: url("assets/neev.png") center/cover;
}
.sreenath{
    background: url("assets/sreenath.png") center/cover;
}