.picture{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.neev{
    background: url("assets/neev.png") center/cover;
    position: absolute;
    left: 100px;
}
.sreenath{
    background: url("assets/sreenath.png") center/cover;
    position:absolute;
    left:900px;
}
.icon{
    position: absolute;
    left:100px;
    top:300px;
}
.h1{
    position: absolute;
    left:100px;
    top:350px;
}
.h2{
    position: absolute;
    left:100px;
    top:420px;
}