
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #0097B2;
    --secondary-color:#7ED957;
    --text-color: white;
    --bg-color: black;
}

body {
    color: var(--text-color);
    font-family: 'Montserrat';
    background-color: var(--bg-color);
}

/*Nav Styles*/

.top-nav {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
}

.nav-link:not(.logo-container) {
    position: relative;
    flex-grow: 1;
    width: fit-content;
    width: 200px;
}

.nav-link:not(.logo-container) a {
    text-decoration: none;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    color: var(--text-color);
    font-size: 25px;
    padding: 10px;
}

.about a, .why a {
    border: 2px solid var(--primary-color);
}

.founders a {
    border: 2px solid var(--secondary-color);
}

.nav-link a:hover {
    filter: brightness(75%);
}

.nav-link button {
    width: 200px;
    font-family: inherit;
    font-size: 25px;
    cursor: pointer;
    background: var(--primary-color);
}

.logo-container {
    width: 200px;
}

.logo {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.theme {
    width: 150px !important;
}

.theme svg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    color:var(--primary-color);
}