#login {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 300px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mail, .password {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.heading {
    font-size: 25px;
    text-align: center;
}

input {
    border-radius: 10px;
    font-family: 'Montserrat';
    color:var(--primary-color);
    padding: 5px;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    height: 30px;
}

button {
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    background: var(--background-color);
    border: 2px solid var(--primary-color);
}

button:hover {
    cursor: pointer;
    filter: brightness(150%);
}